.bg {
  background-color: #040405;
  width: 100%;
}

.box {
  margin: 0 250px;
}

.header a {
  text-decoration: none;
  display: block;
  margin: 10px;
  color: white;
}

.pink-text {
  color: #ff3a5e !important;
}

.small-text {
  font-size: 9px !important;
}

.thiner {
  ont-weight: 100;
}

.col-9 {
  margin-bottom: 100px;
}

h1 {
  font-size: 24px !important;
  color: white !important;
  margin-top: 100px !important;
}

.sub-title {
  color: #ffffff;
  font-size: 12px;
  margin: 20px 0;
  font-weight: 100px;
}

.info-button {
  background-color: #ff3a5e !important;
  border-color: #ff3a5e !important;
}

.about-section {
  background-color: #101013;
  margin-bottom: 100px;
}

.about-section .col-4 {
  padding: 15px;
}

.about-section .col-8 {
  padding-top: 15px;
}

h2 {
  font-size: 24px !important;
}

h2 {
  color: #ffffff !important;
  line-height: 15px !important;
}

h3 {
  margin-bottom: 10px !important;
  color: #ffffff !important;
  line-height: 20px !important;
}

h4 {
  font-weight: 100 !important;
  line-height: 8px !important;
  margin-top: 10px !important;
}

.about-paragraph {
  color: #ffffff;
  font-weight: 100;
  display: block;
  padding-right: 15px;
  margin-bottom: 5px;
}

.social-media {
  display: inline;
  padding: 0px 5px;
}

.project-header {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.app-header {
  color: #ffffff;
  font-size: 12px;
  padding-top: 15px;
  margin-left: 15px;
}

.project-description {
  color: #ffffff;
  margin: 0;
  margin-left: 15px;
}

.app-link {
  text-decoration: none;
  margin-left: 15px;
}

.project-section .border {
  margin: 0 5px;
}

.project-section {
  margin-bottom: 100px;
}

.skills-section {
  background-color: #101013;
}

.skills-header {
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
  font-size: 18px;
}

.skill-item {
  display: inline;
  padding: 0px 5px;
  font-size: 24px;
}

.skill-text {
  color: #ffffff !important;
  text-align: center;
}

.skills-section li {
  color: #ff3a5e;
}

@media (max-width: 900px) {
  .box {
    margin: 0 100px;
  }
}
