.bg {
  background-color: #040405;
  width: 100%;
}

.box {
  margin: 0 20%;
}

.header {
  position: fixed;
  right: 20%;
  background-color: #040405;
  padding-top: 5px;
}
.header a {
  text-decoration: none;
  display: block;
  margin: 12px;
  color: white;
}
.passive-link {
  opacity: 50%;
}
.passive-link:hover {
  opacity: 100%;
}
.pink-text {
  color: #ff3a5e !important;
}

.small-text {
  font-size: 12px;
}

.thiner {
  font-weight: 100;
}
.center-div {
  margin: 0 auto;
}
.col-7 {
  padding: 250px 0px;
  margin-left: 20%;
}

.main-section .col {
  font-size: 426px;
  color: #ff3a5e;
}

.row {
  --bs-gutter-x: 0 !important;
}

.beginning-text {
  color: white;
}

.sub-title {
  color: #ffffff;
  font-size: 16px;
  margin: 20px 0;
  font-weight: 100px;
}

.info-button {
  background-color: #ff3a5e !important;
  border-color: #ff3a5e !important;
  border-radius: 15px !important;
}
.info-button-two {
  background-color: #ff3a5e !important;
  border-color: #ff3a5e !important;
  padding: 0.75rem 40% !important;
  border-radius: 25px !important;
}
.about-section {
  background-color: #101013;
  margin-bottom: 100px;
}

.about-section .col-md-4 {
  padding: 15px;
}

.about-section .col-md-8 {
  padding-top: 70px;
}

.heading-h2 {
  font-size: 24px;
  color: #ffffff;
  line-height: 15px;
}

.heading-h3 {
  margin-bottom: 10px;
  color: #ffffff;
  line-height: 20px;
}
.heading-about-h1 {
  font-size: 48px;
  color: #ffffff;
}
.heading-about-h2 {
  font-size: 16px;
  color: #ffffff;
  padding: 5px;
  margin-right: 42%;
  border: 1px solid;
  border-radius: 15px;
  border-color: #ff3a5e;
  margin-bottom: 30px;
}
.heading-h4 {
  font-weight: 100;
  line-height: 8px;
  margin-top: 10px;
}

.about-paragraph {
  color: #ffffff;
  font-weight: 100;
  display: block;
  padding-right: 15px;
  margin-bottom: 5px;
}

.social-media {
  display: inline;
  padding: 0px 5px;
  font-size: 14px;
}

.project-header {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 30px;
}

.project-description {
  color: #ffffff;
  margin: 15px;
}

.app-header {
  font-size: 16px;
}

.app-link {
  text-decoration: none;
  color: #ffffff !important;
  font-size: 11px !important;
  border-radius: 15px !important;
}

.project-section .border {
  margin: 0 5px;
}

.project-section {
  margin-bottom: 100px;
}

.skills-section {
  background-color: #101013;
  padding-bottom: 15px;
  margin-bottom: 100px;
}

.skills-header {
  text-align: center;
  color: #ffffff;
  padding: 15px 0px;
  font-size: 24px;
}

.skill-item {
  display: inline;
  padding: 0px 5px;
  font-size: 24px;
  text-align: center;
}

.skill-text {
  color: #ffffff !important;
  text-align: center;
}

.skills-section li {
  color: #ff3a5e;
  text-align: center;
}

.contact-section {
  padding-bottom: 15px;
}

.c-details {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

.photo {
  text-align: center;
}
.one-hover:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.vertical {
  padding: 20% 0;
}
.main-about-section {
  margin: 100px 0 !important;
}

@media (max-width: 900px) {
  .small-text {
    font-size: 9px !important;
  }

  .beginning-text {
    font-size: 24px;
  }

  .col-7 {
    padding: 100px 0px;
  }

  .main-section .col {
    display: none;
  }

  .sub-title {
    font-size: 12px;
  }

  .about-section .col-md-8 {
    padding-top: 15px;
    padding-left: 10px;
  }

  .heading-h2 {
    font-size: 20px;
    line-height: 20px;
  }

  .heading-h3 {
    margin-bottom: 5px;
    line-height: 14px;
  }
  .heading-h4 {
    display: none;
  }
  .social-media {
    font-size: 11px;
  }

  .project-header {
    font-size: 18px;
    padding-bottom: 15px;
  }

  .app-header {
    font-size: 12px;
  }

  .project-section {
    margin-bottom: 100px;
  }

  .skills-header {
    padding-top: 15px;
    font-size: 18px;
  }
}
